@import "vars";

.settings-container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: $font;
}

.header {
	margin: 20px;
	font-size: 55px;
	color: #46cfee;
	font-weight: 500;
}

.subtitle {
	text-align: center;
	font-size: 22.5px;
	color: #bdbdbd;
}

.opt-btn {
	font-family: $font;
	font-size: 15px;
	background-color: #e2e2e2;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	outline: none;
	width: 115px;
	height: 32.5px;
	margin: 1rem 0.75rem 1.75rem 0;
	transition: 150ms all ease;
}

button.active-pl,
button.active-sl,
button.active-lb {
	background-color: #6dcbe0;
	font-weight: 500;
}


