@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
// $background-color: #232627;
$background-color: #2b2d33;

$other-color: #3f3f3f;
$primary-color: #4acbe9;
$secondary-color: #90e1f3;
$font: "Poppins", sans-serif;
