@import "vars";
@import "about";
@import "timer";
@import "settings";

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: $background-color;
}

header {
	width: 85%;
	height: 10vh;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2rem;
	font-family: $font;
	color: $secondary-color;

	& #logo {
		font-size: 42.5px;
		font-weight: 500;

		& a {
			text-decoration: none;
			color: $secondary-color;
		}
	}

	& ul li {
		list-style: none;
		font-size: 22.5px;
		font-weight: 500;
	}

	& button {
		cursor: pointer;
		border: none;
		font: inherit;
		color: inherit;
		background: transparent;
	}
}

.nav-list {
	display: flex;
	padding-top: 5px;
	& .nav-item {
		padding: 1.5rem;
	}
}

.center {
	margin: 0 auto;
	width: 85%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& .display {
		display: block;
		height: 190px;
		font-family: $font;
		font-size: 140px;
		color: $primary-color;
	}

	& .btn {
		display: inline;
		cursor: pointer;
		background-color: transparent;
		border: none;
		outline: none;
		padding: 1rem;
		transition: 200ms all ease;

		& svg {
			transition: 250ms all ease;
			width: 115px;

			& path#Rectangle-1 {
				fill: #c0effa;
			}
		}
	}

	& .btn:hover {
		& svg {
			width: 127.5px;

			& path#Rectangle-1 {
				fill: #4fd5f5;
			}
		}
	}
}

.bottom {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;

	& svg {
		width: 40px;
	}
}

.nav-btn {
	padding: 0.5rem;
	cursor: pointer;
	outline: none;
	transition: 200ms all linear;
	color: rgb(145, 145, 145);
	&:hover {
		color: $secondary-color !important;
	}
}

.nav-link {
	color: rgb(145, 145, 145);
	text-decoration: none;
	transition: 200ms all ease;

	&:hover {
		color: $secondary-color !important;
	}
}


@media screen and (max-width: 767px) {
	header {
		& #logo {
			font-size: 30px;
			padding-right: 10px;
		}

		& ul li {
			font-size: 1.1px;
		}
	}

	.nav-list {
		& .nav-item {
			padding: 5px;
		}
	}
	.display {
		font-size: 120px !important;
		height: 150px !important;
	}

	& .btn:hover {
		& svg {
			width: 100px !important;

			& path#Rectangle-1 {
				fill: #c0effa !important;
			}
		}
	}

	svg {
		width: 100px !important;
	}

	.about-container {
		font-size: 17.5px !important;
		& .about-content {
			width: 90%;
		}
	}
	.subtitle {
		font-size: 20px !important;
	}
	.opt-btn {
		width: 90px !important;
		height: 27.5px !important;
		font-size: 12px !important;
	}
}
@media screen and (max-width: 667px) {
	header {
		& #logo {
			font-size: 30px;
			padding-right: 3px;
		}

		& ul li {
			font-size: 1.1rem;
		}
	}

	.nav-list {
		& .nav-item {
			padding: 5px;
		}
	}
	.display {
		font-size: 110px !important;
		height: 140px !important;
	}

	& .btn:hover {
		& svg {
			width: 90px !important;

			& path#Rectangle-1 {
				fill: #c0effa !important;
			}
		}
	}

	svg {
		width: 90px !important;
	}

	.about-container {
		font-size: 17.5px !important;
		& .about-content {
			width: 90%;
		}
	}
	.subtitle {
		font-size: 20px !important;
	}
	.opt-btn {
		width: 90px !important;
		height: 27.5px !important;
		font-size: 12px !important;
	}
}
